<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Verification </title>
</head>
<body>
  <table style="background-color: grey; width: 100%">
      <tr style="width: 100%; font-size: 40px">
          <th>Email Verification </th>
      </tr>
      <tr>
          <th>
          <p style="color: red">Dear {{ name }}</p>
          </th>
      </tr>
      <br><br>
      <tr>
          <th>
          <p style="font-style: italic">Your Account has been created successfully </p>
          </th>
      </tr>
  </table>Title

</body>
</html>